<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Spring config start -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>
		
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring config end -->

	<!-- 登录校验 -->
	<filter>
		<filter-name>AdminLoginFilter</filter-name>
		<filter-class>com.kingdee.purchase.platform.filter.AdminLoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CustomerLoginFilter</filter-name>
		<filter-class>com.kingdee.purchase.platform.filter.CustomerLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomerLoginFilter</filter-name>
		<url-pattern>/customer/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<!-- 指定字符集 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnterpriseServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.EnterpriseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLRequestServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.URLRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoLoginServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.AutoLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DebugServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.DebugServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenApiRegisterServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.OpenApiRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocServlet</servlet-name>
    <servlet-class>com.kingdee.purchase.platform.servlet.DocServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterpriseServlet</servlet-name>
    <url-pattern>/admin/enterprise/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AutoLoginServlet</servlet-name>
    <url-pattern>/openapi/param/1/com.kingdee.purchase.openapi/autologin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLRequestServlet</servlet-name>
    <url-pattern>/openapi/param/1/com.kingdee.purchase.openapi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/admin/company</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DebugServlet</servlet-name>
    <url-pattern>/debug</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenApiRegisterServlet</servlet-name>
    <url-pattern>/admin/doc/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocServlet</servlet-name>
    <url-pattern>/doc</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
</web-app>
